.slider {
    position: relative;
    z-index: 1;
    margin: 0 0 20px;
    background-color: white;
    height: 1rem;
    border-radius: 18px;
    border: 2px solid #027bfe;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}

.slider .value {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    font-size: 1.125rem;
    padding-top: 0;
    position: absolute;
    z-index: 5;
    padding: 0.25rem 0.5rem;
    color: #027bfe;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 18px;
    background-color: white;
}

.slider>.range_bg {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 0px;
    background-color: #027bfe;
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #027bfe;
    z-index: 4;
    outline: 0;
    border-radius: 50%;
    border: 2px solid #027bfe;
    cursor: pointer;
    overflow: visible;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.slider>.thumb.left {
    left: 25%;
    transform: translate(-3px, -5px);
}

.slider>.thumb.right {
    right: 25%;
    transform: translate(3px, -5px);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 5;
    height: 100%;
    width: 100%;
    opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}